In [1]:
import re
from operator import itemgetter
import nltk
import pandas as pd

In [2]:
frequency={}
words_emma=nltk.Text(nltk.corpus.gutenberg.words('austen-emma.txt'))

In [4]:
for word in words_emma:
    count=frequency.get(word,0)
    frequency[word]=count+1

In [5]:
rank =1

In [6]:
column_header =['Rank','Frequency','Frequency*rank']
df=pd.DataFrame(columns=column_header)

In [7]:
for word,freq in reversed(sorted(frequency.items(),key=itemgetter(1))):
    df.loc[word]=[rank,freq,rank*freq]
    rank=rank+1

In [8]:
print(df)

            Rank Frequency Frequency*rank
,              1     11454          11454
.              2      6928          13856
to             3      5183          15549
the            4      4844          19376
and            5      4672          23360
...          ...       ...            ...
indistinct  7807         1           7807
vex         7808         1           7808
]           7809         1           7809
1816        7810         1           7810
Austen      7811         1           7811

[7811 rows x 3 columns]